@import url(http://fonts.googleapis.com/css?family=Lato:400,300,100,700,900&subset=latin,latin-ext);
html, body {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: subpixel-antialiased !important;
  font-weight: 400;
  height: 100%; }

header {
  background-color: #797979;
  text-align: center;
  height: 100vh;
  position: relative;
  color: #fff; }
  header h1 {
    font-size: 34px; }
  header hr {
    color: #fff;
    width: 105px;
    margin-top: 30px; }
  header h6 {
    font-size: 14px; }
  header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: 15px 50px;
    display: block;
    font-size: 16px;
    position: absolute;
    top: 70%;
    left: 40%;
    right: 40%; }
  header .cont {
    position: absolute;
    top: 20%;
    left: 30%;
    right: 30%;
      right-height: 520px; }
  header .header_arrowDown {
    position: absolute;
    top: 85%;
    left: 40%;
    right: 40%; }

nav {
  height: 60px;
  display: -webkit-flex;
  display: flex;
    display-justify-content: space-around;
    display-align-items: center; }
  nav .nav_logo {
    font-size: 26px;
    font-weight: bold; }
  nav ul li {
    list-style-type: none;
    display: inline-block; }
    nav ul li a {
      margin: 0px 20px;
      text-decoration: none;
      text-transform: uppercase;
      color: #3c3c3c; }
    nav ul li a:hover {
      color: #ada074; }

.about h1 {
  text-align: center;
  font-size: 34px; }

.about hr {
  color: #fff;
  width: 105px;
  margin-top: 30px; }

.about h6 {
  font-size: 14px;
  text-align: center;
  color: #b0b0b0; }

.about .about_items {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .about .about_items .about_item {
    text-align: center;
    width: 25%; }
    .about .about_items .about_item h2 {
      margin-top: 25px; }
    .about .about_items .about_item p {
      line-height: 25px;
      color: #b0b0b0; }

.portfolio h1 {
  text-align: center;
  font-size: 34px; }

.portfolio hr {
  color: #fff;
  width: 105px;
  margin-top: 30px; }

.portfolio ul {
  display: flex;
  flex-wrap: wrap; }
  .portfolio ul li {
    float: left;
    list-style-type: none;
    margin: 11px; }
    .portfolio ul li .text {
      display: none; }

.partners {
  background-color: #444;
  height: 400px;
  display: flex;
  justify-content: space-around;
  flex-direction: column; }
  .partners h2 {
    color: #f3f3f3;
    text-align: center;
    font-size: 30px; }
  .partners ul {
    display: flex;
    justify-content: center;
    padding: 0px; }
    .partners ul li {
      list-style-type: none;
      display: inline-block;
      opacity: 0.5; }
    .partners ul li:hover {
      opacity: 1; }
