@import url(http://fonts.googleapis.com/css?family=Lato:400,300,100,700,900&subset=latin,latin-ext);

// :-webkit-input-placeholder  /* WebKit browsers */
// 	color: #000000

// :-moz-placeholder /* Mozilla Firefox 4 to 18 */
// 	color: #000000

// :-moz-placeholder  /* Mozilla Firefox 19+ */
// 	color: #000000

// :-ms-input-placeholder  /* Internet Explorer 10+ */
// 	color: #000000

placeholder
	color: #000000

html, body
  font-family: 'Lato', sans-serif
  font-size: 15px
  -webkit-font-smoothing: subpixel-antialiased!important
  color:black
  font-weight: 400
  height: 100%


header
	background-color: #797979
	text-align: center
	height: 100vh
	position: relative
	color: #fff
	
	h1
		font-size: 34px

	hr
		color: #fff
		width: 105px
		margin-top: 30px

	h6
		font-size: 14px

	a 
		color: #fff
		text-decoration: none
		text-transform: uppercase
		border: 1px solid #fff
		padding: 15px 50px
		display: block
		font-size: 16px
		position: absolute
		top: 70%
		left: 40%
		right: 40%

	.cont
		position: absolute
		top: 20%
		left: 30%
		right: 30%
 		height: 520px
	
	.header_arrowDown
		position: absolute
		top: 85%
		left: 40%
		right: 40%
nav
	height: 60px
	display: -webkit-flex
	display: flex /*отображает контейнер как блочный элемент*/
    justify-content: space-around
    align-items: center

	.nav_logo
		font-size: 26px
		font-weight: bold
		
	ul
		li 
			list-style-type: none
			display: inline-block
			font-size: 15px

			a 
				margin: 0px 20px
				text-decoration: none
				text-transform: uppercase
				color: #3c3c3c
			    
			a:hover
				color: #ada074
.about 
	h1
		text-align: center
		font-size: 34px

	hr
		color: #fff
		width: 105px
		margin-top: 30px

	h6
		font-size: 14px
		text-align: center
		color: #b0b0b0
	
	.about_items
		display: flex
		justify-content: space-around
		align-items: center

		.about_item
			text-align: center
			width: 25%

			h2
				margin-top: 25px
				font-size: 26px

			p 
				line-height: 25px
				color: #b0b0b0

.portfolio
	h1
		text-align: center
		font-size: 34px

	hr
		color: #fff
		width: 105px
		margin-top: 30px
	ul
		display: flex
		flex-wrap: wrap
		li 
			float: left
			list-style-type: none
			margin: 11px
			.text
				display: none

.partners
	background-color: #444
	height: 400px
	display: flex
	justify-content: space-around
	flex-direction: column

	h2
		color: #f3f3f3
		text-align: center
		font-size: 30px
		
	ul 
		display: flex
		justify-content: center
		padding: 0px
		li 
			list-style-type: none
			display: inline-block
			opacity: 0.5
		li:hover
			opacity: 1

.contact
	position: relative

	.flex
		display: flex
		justify-content: space-around

	h1
		text-align: center
		font-size: 34px

	hr
		color: #fff
		width: 105px
		margin-top: 30px

	form
		display: flex
		flex-direction: column

		input
		    border: none
    		border-bottom: 1px solid
    		width: 160px
		    padding-bottom: 20px
		    text-transform: uppercase
		    color: #000000
		    font-size: 14px

		input::-webkit-input-placeholder
			color: #000

		input[type="button"]
			background-color: #fff
			border: none
			text-transform: uppercase
			text-align: center
			position: absolute
			bottom: 0px
			right: 40%
			left: 40%
			
		textarea
			    border: none
    			border-bottom: 1px solid
    			width: 320px
			    padding-bottom: 20px
			    text-transform: uppercase
			    color: #000000
			    background-color: #fff
			    font-size: 14px
		textarea::-webkit-input-placeholder
			color: #000

	